.hidden {
    display: none;
}

#login-form {
    text-align: center;
}

#bgImage{
    position:absolute;
    left:0;
    top:0;
	width:100%;
    z-index:-5;
}

.mm-clock{
    text-align: center;
    color: black;
    
}


#randomQ {
    text-align: center;
    display: inline-table; 
    width: 100%;
    
}

#randomA {
    text-align: center;
    display: inline-table;
    width: 100%;
}

#todo-list{
    text-align: center;
}

#todo-form{
    text-align: center;
}
    